/* ---------- Root Variabels ---------- */
:root {
  --color-background: #e3e9f5;
  --color-primary: #fcfcfc;
  --color-accent: #8fb3d1;
  --color-text: #707070;
  --color-accent-dark: #b0b8d0;
  --color-text-dark: #c9cad9;
  --color-delete: #ef5350;
  --color-tempUntil2: #566591;
  --color-jobPosting: #1463f3;

  --color-background-dark: #030307;
  --color-primary-dark: #2a2a2a;
  --color-sun: #030307;
}

.darkmode {
  --color-background: #030307;
  --color-primary: #2a2a2a;
  --color-text-dark: #c9cad9;
  --color-sun: yellow;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  display: flex;
  font-family: "Roboto", sans-serif;
}

#sidebar {
  width: 10%;
  height: 100vh;
  background-color: var(--color-primary);
  display: grid;
  grid-template-rows: 10% 85% 5%;
}

.sidebar-header {
  color: var(--color-text);
  font-size: 30px;
  margin: auto;
  font-weight: 700;
}

.main {
  height: 100vh;
  flex: 1;
}

.sidebar-links {
  margin-top: 2.5em;
}

.link {
  display: flex;
  align-items: center;
  height: 55px;
  font-size: 18px;
  padding-left: 20px;
}

i {
  min-width: 32px;
}

.link a {
  text-decoration: none;
  color: var(--color-text);
}

.link a:hover {
  color: var(--color-accent);
  transform: translate(10px);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

.top-section {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.833%;
  color: var(--color-text);
  font-size: 2em;
}

.create-job-button {
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 16px 32px;
  text-align: center;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.create-job-button:hover {
  background-color: var(--color-tempUntil2);
}

.bottom-section {
  display: grid;
  grid-template-columns: repeat(5, 19%);
  height: 90%;
  justify-content: space-evenly;
  align-items: center;
}

.status-columns {
  background-color: var(--color-primary);
  height: 95%;
  padding: 10px 0;
  margin-bottom: 5%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.status-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  height: 10%;
  font-size: 1.5em;
}

.status-main {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.job-posting {
  display: flex;
  position: relative;
  background-color: var(--color-jobPosting);
  color: var(--color-primary);
  height: 15%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.trashcan {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-delete);
  font-size: 20px;
  display: none;
}

.job-posting:hover .trashcan {
  display: block;
}

.trashcan:hover {
  filter: brightness(0.75);
}

.job-logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.job-logo img {
  width: 80%;
  height: auto;
  background-color: var(--color-primary);
  border-radius: 10%;
  padding: 2px;
}

.job-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18%;
  height: fit-content;
  padding: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgab(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f51ff;
  opacity: 70%;
  z-index: 900;
}

.popup .jobInputs {
  width: 100%;
  height: 50px;
  font-size: 32px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  padding-left: 10px;
  box-sizing: border-box;
}

.delete-button {
  background-color: var(--color-delete);
}

.save-button {
  background-color: var(--color-accent-dark);
}

.job-posting-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: var(--color-text);
  margin-bottom: 32px;
}

.job-posting.dragging {
  opacity: 0.5;
}

.searchbar-div input {
  padding: 10px;
  border: 1px solid gray;
  font-size: 15px;
  border-radius: 5px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.hide {
  display: none !important;
}

.login-page {
  position: absolute;
  background-image: linear-gradient(
    to right bottom,
    #b5c8e5,
    #9db8e4,
    #87a7e3,
    #7196e1,
    #5d85de
  );
  width: 100%;
  height: 100%;
}

#auth-form {
  position: relative;
  width: 380px;
  height: 480px;
  background-color: white;
  border-radius: 5%;
  padding: 5px;
  margin: 8% auto;
  overflow: hidden;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #0001ff,
    #4a38ff,
    #6b58ff,
    #8674ff,
    #9e90ff
  );
  border-radius: 30px;
  transition: 0.5s;
}

.login-inputs {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-image: linear-gradient(
    to right bottom,
    #0001ff,
    #4a38ff,
    #6b58ff,
    #8674ff,
    #9e90ff
  );
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box {
  margin: 30px 10px 30px 0;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

.profile-bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.profile-main-content {
  width: 98.5%;
  height: 95%;
  padding: 10px 0;
  margin-bottom: 15px;
  background-color: var(--color-primary);
  color: var(--color-text);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-pic-bio-div {
  display: flex;
  width: 100%;
  height: 30%;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 100%;
}

.profile-pic img {
  height: 70%;
  border-radius: 50%;
}

.bio-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

.profile-values {
  width: 100%;
  height: 100%;
}

.profile-values input {
  height: 35px;
  width: 220px;
  padding: 5px;
}

#profile-form {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
}

.input {
  margin: 20px;
  margin-left: 75px;
}

.darkmode-div {
  display: flex;
  font-size: 20px;
  margin: 20px;
}

#darkmode-moon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 25px;
}

.bxs-sun {
  color: var(--color-sun);
}
